@font-face {
    font-family: 'Digital Numbers Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital Numbers Regular'), url('DigitalNumbers-Regular.woff') format('woff');
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --backround-color: rgb(221, 217, 217);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    --width : 500px;
    position: relative;
    top: 90px;
    height: var(--width);
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.clock{
    --width: 400px;
    position: absolute;
    height: var(--width);
    width: var(--width);
    border-radius: 50%;
    border: 7px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: #FFD700;
    
}


.clock::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    z-index: 10000;
    transform: translateZ(2.5rem);
}

.clock::after{
    content: "";
    --width: 280px;
    position: absolute;
    background-color: var(--backround-color);
    opacity: .7;
    height: var(--width);
    width: var(--width);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    
    transform: translateZ(-5rem);
}

.clock span{
    font-size: 4rem;
    padding: 2px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.twelve,.three,.six,.nine{
    position: relative;
    transform: translateZ(5rem);
    transform-style: preserve-3d;
}
.twelve::after,.three::after,.six::after,.nine::after{
    content: "";
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: translateZ(-4rem);
}
.twelve::after{
    width: 5rem;
    top: 22px;
    height: 2rem;
}

.six::after{
    left: -10px;
    padding: 0;
    top: 25px;
    width: 4rem;
    height: 2rem;
}
.three::after,.nine::after{
    padding-bottom: 8px;
    left: 5px;
    width: 2rem;
    height: 4rem;
}
.nine::after{
    left: 2px;
}
.twelve{
    top: -35px;
    padding: 0 5px;
}
.three{
    right: -15px;
}

.six{
    bottom: -35px;
    padding: 0 25px;
}

.nine{
    left: -15px;
}

.hourHand,.minuteHand,.secondHand{
    transform-style: preserve-3d;
}

.hourHand{
    position: absolute;
    height: 200px;
    display: flex;
    justify-content: center;
}

.hourHand::before{
    content: "";
    position: absolute;
    background-color: #FF0000;
    width: 10px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    transform: translateZ(2.5rem);
}

.minuteHand{
    position: absolute;
    height: 280px;
    display: flex;
    justify-content: center;
}

.minuteHand::before{
    content: "";
    position: absolute;
    background-color: #FF0000;
    width: 7px;
    height: 150px;
    border-radius: 10px 10px 0 0 ;
    transform: translateZ(2.5rem);
}

.secondHand{
    position: absolute;
    height: 350px;
    display: flex;
    justify-content: center;
}

.secondHand::before{
    content: "";
    position: absolute;
    background-color: #ffee00;
    width: 4px;
    height: 220px;
    border-radius: 10px 10px 0 0 ;
    transform: translateZ(2.5rem);
}


.date{
    position: absolute;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-weight: 600;
    font-family: 'Digital Numbers Regular';
    transform: translateZ(1rem);

}

.circle{
    --width:400px;
    position: absolute;
    width: var(--width);
    height: var(--width);
    border-radius: 50%;
    display: grid;
    grid-template: repeat(2, 1fr) /repeat(2, 1fr) ;
    overflow: hidden;
}


footer{
    margin-top:20vh;
}

footer a{
    text-decoration: none;
    color: black
}