@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Lobster&family=Podkova&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Podkova', serif;

}
body{
    /* background-image: url('/static/perfect4.jpg') ; */
    /* color: white; */
    height: auto;
}

html{
    scroll-behavior: smooth;
    
}
#content ul {
    display: flex;
    background-color: black;
    color: white;
    padding: 15px auto;
    list-style: none;
    text-decoration: none;
}
#test{
    font-size: 50px;
}
#s2{
    position: relative;
    left: 630px;
    font-size: 1.5rem;
    padding: 3px;
}
#s2 ul li{
    margin: 10px;
    text-decoration: none;
}
#s2 ul li a{
    margin: 10px;
    text-decoration: none;
    color: white;
}
input[id="search"]{
    padding: 6px 15px;
}
.offer{
    display: flex;
    /* position: relative;
    justify-content: center;
    align-items: center; */
    height: 400px;
    width: 100%;
    border: 4px solid rgb(0, 6, 54);
    background-color: rgb(0, 6, 54);
}

.load img{
    height: 330px;
    width: 330px;
    margin: 10px;
}
.load img:hover{
    height: 350px;
    width: 350px;
    margin: 10px;
    scroll-behavior: smooth;
}
.load{
    margin-top: 10px;
    margin-left: 13px;
}
.box{
    display: flex;
    margin-left: 50px;

}
.inside{
    display: flex;
    border: 4px solid rgb(0, 6, 54);
    border-radius: 10px;
    height: 250px;
    width: 600px;
    margin-left: 50px;
    /* background-color: rgb(79, 219, 137); */
}

.p-1 img{
    height: 250px;
    width: 230px;
    /* border: 2px solid black; */
}
.p-3{
    margin-top: 8px;
}
.p-3 a{
    text-decoration: none;
    border: 3px solid black;
    background-color: lawngreen;
    color: black;
    padding: 6px 15px;
    border-radius: 10px;
}
.p-3 a:hover{
    color: lawngreen;
    background-color: black;
}
.apps{
    display: flex;
    color: black;
    /* font-size: 1.5rem; */
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 5rem;
    background-color: grey;
    height: 387px;
    width: 100%;

}
.sec1{
    margin: 14px;
}
.sec1 h2{
    font-size: 2.5rem;
}
.sec1 span{
    font-size: 30px;
}
#i4{
    height: 100px;
    width: 300px;
}
#i5{
    height: 100px;
    width: 300px;
}


.sec2{
    display: flex;
    position: relative;
    height: 400px;
    width: auto;

}
.sec2 img{
    height: 387px;
}
#contact{
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: auto;
    border: rgb(0, 0, 0);
    background-color: black;

}
.seg ul li{ 
    list-style: none;
    font-size: 1.3rem;

}

.seg ul li a{
    color: white;
    display: block;
    padding: 6px 0px;
    border-radius: 20px;
    text-decoration: none;
}
.seg ul li a:hover{
    color: black;
    background-color: white;
}
.seg h2{
    font-size: 2rem;
    color: white;
}
.center{
    text-align: center;
    font-size: 1.5rem;
    color: black;
    background-color: grey;
}

