doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FoodzGo - Add Your Restaurant
  link(rel='stylesheet' href='/static/addresStyle.css')
.head-container
  #head
    nav#navbar
      ul
        li.items
          a(href='/') Home
        // <li class="items"><a href="#service-container">Services</a></li>
        li.items
          a(href='/addres' target='_blank') Add Your Restaurant
        li.items
          a(href='/contact') Contact Us
        //
          <li class="items button" id="login"> </li>
          <li class="items button" id="signup"></li>
  #part1
    h1.h1 Register Your Restaurant on FoodzGo
    h3.h1 Join us for free and get falicited...
  #part2
    a(href='#')  Register Your Restaurant
    a(href='#' target='_blank')  Already registered ? Log In 
.body-shape
  .body-container
    h1.h1 Why should you partner with FoodzGo?
    h2
      | FoodzGo enables you to get 60% more revenue, 10x new customers and boost your brand visibility by
      | providing insights to improve your business.
    #box-1.box
      img(src='/static/global.webp' alt='')
      h2
        span 400+
        br
        | Cities in India
    #box-2.box
      img(src='/static/store.webp' alt='')
      h2
        span 4Lakhs+
        br
        |  Restaurant listings
    #box-3.box
      img(src='/static/monthorder.webp' alt='')
      h2
        span 2Crore+
        br
        | Monthly Orders
  .l1-container
    h1.h1 How It Works?
    .table
      #step-1.steps
        img(src='/static/step1work.png' alt='')
        h2 Stage-1
        h3 Create your page on Zomato
        p Help users discover your place by creating a listing on Zomato
      #step-2.steps
        img(src='/static/step2work.webp' alt='')
        h2 Stage-2
        h3 Register for online ordering
        p And deliver orders to millions of customers with ease COD 
      #step-3.steps
        img(src='/static/step3work.webp' alt='')
        h2 Stage-3
        h3 Start receiving orders online
        p Manage orders on our partner app, web dashboard or API partners
.mid-shape
  .faqs
    .headfaqs
      h1.h1 Frequently asked questions
    .qanda
      h2
        | Ques :What will Zomato charge me for creating a page on its platform?
      p
        | Ans :Creating a restaurant page on Zomato is free of cost. You can maintain your page by replying to reviews and do a lot more without any charges.
    .qanda
      h2
        | Ques :What all documents are required for registering on online ordering?
      p
        | Ans :Registration for online ordering requires:
        ul
          li FSSAI certificate (application no. if FSSAI is not present)
          li PAN Card
          li GST certificate (if applicable)
    .qanda
      h2
        | Ques :I have a large fleet of delivery boys, why should I use Zomato&rsquo;s delivery service?
      p
        | Ans :You can use your and Zomato&apos;s delivery fleet simultaneously to increase the network of your delivery radius. Also, our delivery fleet delivers orders in minimum possible time, a key factor leading to increased customer satisfaction.
    .qanda
      h2
        | Ques :What happens if the average order value of Zomato orders is very low
      p
        | Ans :Average order value from our platform is generally more than Rs 250. However, in some cases, users want to try out your place by ordering for lesser amount. But we have observed that they eventually come back with higher value orders if they like your food.
    .qanda
      h2
        | Ques :How does Zomato partner with restaurants?
      p
        | Ans : Zomato charges commissions from restaurant partners for listing on its app and delivering food. Delivery charges are paid by users, which are passed down to delivery partners. Customers also pay for packaging charges on select orders, which again are passed through to restaurant partners
    .qanda
      h2
        | Ques :How much commission does Zomato charge from restaurants?
      p
        | Ans : Swiggy and Zomato charge take rates of 22-25 per cent on order value from their restaurant partners, which has increased over the years
    .qanda
      h2
        | Ques :How much does a Zomato delivery boy make?
      p
        | Ans : Such delivery boys now earn between &#x20B9; 25,000 and &#x20B9; 50,000 per month, depending on factors such as the number of deliveries completed and the distance they cover, according to interviews with more than a dozen delivery staff and executives. It&apos;s a sharp rise from the &#x20B9; 10,000-25,000 the workers earned last year
.apps
  .sec1
    h2 Restaurants in your pocket
    span
      | Order from your favorite restaurants &amp; track on the go, with the all-new FoodzGo app.
    a.logo2(href='/error')
      img#i4(src='/static/i4.png' alt='')
    a.logo2(href='/error')
      img#i5(src='/static/i5.png' alt='')
  .sec2
    img(src='/static/phone.png' alt='')
#contact
  #lis-1.seg
    h2 COMPANY:
    ul
      li.version
        a(href='/error') Who we are
      li.version
        a(href='/error') Team
      li.version
        a(href='/error') Career
      li.version
        a(href='/error') Blog
      li.version
        a(href='/error') Investor Relations
  #lis-2.seg
    h2 FOR FOODIES:
    ul
      li.version
        a(href='/error') Code of Contact
      li.version
        a(href='/error') Bloggers Help
      li.version
        a(href='/error') Community
      li.version
        a(href='/error') Mobile Apps
  #lis-3.seg
    h2 FOR RESTAURANTS:
    ul
      li.version
        a(href='/error') Add Restaurant
      li.version
        a(href='/error') Business Community
      li.version
        a(href='/error') Products for Business
      li.version
        a(href='/error') Business Widgets
  #lis-4.seg
    h2 LEGAL:
    ul
      li.version
        a(href='/error') Terms And Conditions
      li.version
        a(href='/error') Refund And Cancellation
      li.version
        a(href='/error') Cookies Policy
      li.version
        a(href='/error') Privacy Policy
      li.version
        a(href='/error') Offers Terms
      li.version
        a(href='/error') Phishing And Fraud
      // <li class="version"><a href="#">Privacy Policy</a></li>
  #lis-5.seg
    h2 SOCIAL LINKS:
    ul
      li.version
        a(href='https://www.facebook.com/soumyaranjan.jena.18659041/') FaceBook 
      li.version
        a(href='https://www.instagram.com/soumya_ranjan001/') Instagram 
      li.version
        a(href='https://twitter.com/SomyaRa22225420') Twitter 
      li.version
        a(href='https://github.com/somyarj1637') GitHub 
      li.version
        a(href='https://www.linkedin.com/in/somya-ranjan-jena-58b07520a/') LinkedIn
ul
footer
  .center
    | Copyright &copy; www.FoodzGO.com. All rights reserved!
