doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/static/errorStyle.css')
#head
  nav#navbar
    ul
      li.items
        a(href='/') Back To Home
.container
  img#sorry(src='/static/sorry2.jpg' alt='I am Sorry!')
  h1
    p#p1
      | Sorry, We are Coming Up Soon ;-) 
      br
    p#p2
      | Hurry Up ! Don&apos;t Wait Go And Enjoy FoodzGo Service.... ;-]
.box
  #box-1
    img(src='/static/Foodbg.jpg' alt='')
  #box-2
    img(src='/static/perfectbg.jpg' alt='')
  #box-3
    img(src='/static/bg2.jpeg' alt='')
